@import "tailwindcss";

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse-animation {
  animation: pulse 2s infinite;
}

@font-face {
  font-family: "vm-bold";
  src: url("./assets/fonts/VictorMono/VictorMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "vm-regular";
  src: url("./assets/fonts/VictorMono/VictorMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "vm-bold-italic";
  src: url("./assets/fonts/VictorMono/VictorMono-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "vm-medium-italic";
  src: url("./assets/fonts/VictorMono/VictorMono-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "vm-thin";
  src: url("./assets/fonts/VictorMono/VictorMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "docade";
  src: url("./assets/fonts/docade-regular.ttf") format("truetype");
}

@font-face {
  font-family: "code";
  src: url("./assets/fonts/CourierPrime/CourierPrime-Regular.ttf")
    format("truetype");
}
