@import "tailwindcss";

@font-face {
  font-family: "vm-bold";
  src: url("./assets/fonts/VictorMono/VictorMono-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "vm-regular";
    src: url("./assets/fonts/VictorMono/VictorMono-Medium.ttf") format("truetype");
}