@import "tailwindcss";

@font-face {
  font-family: "vm-bold";
  src: url("./assets/fonts/VictorMono/VictorMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "vm-regular";
  src: url("./assets/fonts/VictorMono/VictorMono-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "vm-bold-italic";
  src: url("./assets/fonts/VictorMono/VictorMono-BoldItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "vm-medium-italic";
  src: url("./assets/fonts/VictorMono/VictorMono-MediumItalic.ttf")
    format("truetype");
}

@font-face {
  font-family: "vm-thin";
  src: url("./assets/fonts/VictorMono/VictorMono-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "docade";
  src: url("./assets/fonts/docade-regular.ttf") format("truetype");
}

@font-face {
  font-family: "code";
  src: url("./assets/fonts/CourierPrime/CourierPrime-Regular.ttf")
    format("truetype");
}
